mixin navbar(active_page)
  - active_page = active_page || ''

  .nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          span.logo.
            <span class="red-text">W</span>argame Art
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapsible-menu")
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse#navbar-collapsible-menu
        ul.nav.navbar-nav.navbar-right
          li(class= active_page === 'painting-service' ? 'active' : '')
            a(href='http://www.wargame-art.com' target='blank' title="www.wargame-art.com") Услуги покраски
          li(class= active_page === 'contacts' ? 'active' : '')
            a(href='/contacts') Контакты
          li(class= active_page === 'battle-reports' ? 'active' : '')
            a(href='/battle-reports') Батл-репорты
          li(class= active_page === 'articles' ? 'active' : '')
            a(href='/articles') Статьи
