mixin title-slide(spec)
  - spec = spec || {}
  - var title = spec.title || ''
  - var subtitle = spec.subtitle || ''
  - var image = spec.cover || ''

  .row
    .title-slide
      .title-slide__bg(style="background-image: url(#{image})")
      .title-slide__overlay
      .title-slide__container
        .title-slide__content
          h1=title
          p=subtitle
